.header {
    background-color: #003580;
    color: #fff;
    
    display: flex;
    justify-content: center;

}

.headerContainer.listMode {
    margin: 10px 0 12px 0;
}

.headerContainer {
    width: 100%;
    max-width: 1140px;

    margin: 10px 0 80px 0;
    position: relative;
}


.headerList {
    display: flex;
    gap: 20px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 10px;
}

.headerListItem:hover {
    background-color: #1a4a8d;
    cursor: pointer;
}

.headerListItem.active {
    border: 1px solid #fff;
    background-color: #1a4a8d;
    border-radius: 50px;
    padding: 12px 10px;
}

.headerTitle {
    font-size: 46px;
    letter-spacing: 1px;

    margin: 60px 0 10px;
}

.headerDesc {
    font-size: 24px;
}

/* header search  */
.headerSearch {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #fff;

    width: 1140px;
    height: 60px;
    max-width: 1140px;

    position: absolute;
    bottom: -111px;
    left: 0px;

    border-radius: 4px;
    border: 4px solid #febb02;
}

.headerSearchItem {
    height: 100%;

    display: flex;
    align-items: center;
    
    border-right: 4px solid #febb02;
}

.headerInput {
    flex: 4;
    padding: 0px 30px 0px 0px;
}
.headerCalendar {
    flex: 2.5;
    position: relative;
    cursor: pointer;
}

.headerCalendar span {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.calendar {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    z-index: 2;
}
.headerSelect {
    flex: 3;
    position: relative;
}

.headerSelect span {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.optionItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.angleDown {
    color: #003580;
    margin: 0 8px;
}
.options {
    z-index: 2;
    position: absolute;
    top: calc(100% + 12px);
    right: 0;

    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;

    color: #000;

    padding: 24px;
    box-shadow: 0 2px 16px rgb(0 0 0 / 15%)
}

.optionItem {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
}

.optionItem span {
    margin: 0 16px;
}



.optionItem button {
    width: 40px;
    height: 40px;
    font-size: 16px;

    background-color: #fff;
    border: 2px solid #80b8e0;
    color: #80b8e0;
    border-radius: 2px;
    
    cursor: pointer;
}

.optionItem button:active {
    background-color: #f0f7fb;
}

.optionItem button:disabled {
    cursor: default;
    color: lightgray;
    border: 2px solid lightgray;
    background-color: #fff;
}

.icon {
    color: lightgray;
    width: 52px;
}

.headerSearchItem input {
    flex: auto;
    border: none;
    font-size: 14px;
    height: 100%;
    outline: none;
}

.searchBtn {
    width: 120px;
    height: 100%;
    padding: 5px ;
    
    font-size: 20px;

    color: #fff;
    background-color: #0071c2;
    border: none;

    cursor: pointer;
}

.searchBtn:hover {
    opacity: 0.9;
}